* {
    user-select: none;
}

.cart {
    width: 81.7%;
    display: flex;
    flex-direction: column;
    row-gap: 58px;
    height: calc(100vh - 256px);

    &_headline {
        font-size: 48px;
        color: #e8e8e8;
    }

    &_empty {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: calc(100vh - 400px);
        row-gap: 30px;

        &_button {
            padding: 10px 40px;
            border: 2px solid #e8e8e8;
            border-radius: 15px;
            color: #e8e8e8;
            transition: .4s ease-out;

            &:hover {
                color: #1C1C1C;
                background-color: #e8e8e8;
            }
        }
    
        &_headline {
            color: #e8e8e8;
            width: 100%;
            font-size: 100px;
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
    
            @media (max-width: 600px) {
                font-size: 40px;
            }
        }
    }

    

    &_content {
        display: flex;
        align-items: start;
        justify-content: space-between;
        column-gap: 3%;

        @media (max-width: 1024px) {
            flex-direction: column;
        }
    }

    &_items {
        width: 100%;
    }

    &_item {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        cursor: pointer;
        height: 250px;
        background-color: #1F1F1F;
        border-radius: 10px;
        margin-bottom: 41px;
        transition: .4s ease-out;

        &:hover {
            filter: brightness(1.4);
        }

        @media (max-width: 600px) {
            height: 500px;
        }
    }

    &_text_holder {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        margin-right: 40px;
    }

    @media (max-width: 450px) {
        .cart_name{
            font-size: 1.5em;
        }
        .cart_price {
            font-size: 1em;
        }
    }

    &_name {
        color: #a0a0a0;
        font-size: 30px;
        font-weight: 600;
        text-wrap: wrap;
    }

    &_price {
        color: #494949;
        font-size: 20px;
        font-weight: 600;
        text-wrap: wrap;
    }

    &_holder {
        column-gap: 50px;
        display: flex;
        align-items: start;
        justify-content: start;
        height: 80%;
        width: 95%;

        @media (max-width: 600px) {
            flex-direction: column;
            width: 85%;
            row-gap: 30px;
        }
    }

    &_right {
        position: sticky;
        top: 50px;
        width: 411px;
        height: 170px;
        background-color: #1F1F1F;
        border-radius: 10px;
        padding: 40px;
        display: flex;
        align-items: start;
        justify-content: space-between;
        flex-direction: column;

        &_headline {
            line-height: 30px;
            color: #e8e8e8;

            span {
                font-size: 20px;
                margin-top: 10px;
                color: #cfcfcf;
                font-weight: 500;
            }
        }

        &_button {
            color: #e8e8e8;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            box-sizing: border-box;
            border-radius: 15px;
            border: 2px solid #e8e8e8;
            transition: .3s ease-out;

            &:hover {
                cursor: pointer;
                color: #1F1F1F;
                background-color: #e8e8e8;
                box-shadow: 0 0 30px #e8e8e870;
            }
        }

        @media (max-width: 1024px) {
            &_button {
                width: 65%;
            }

            box-sizing: border-box;
            justify-content: center;
            align-items: center;
            row-gap: 100px;
            width: 100%;
            height: 250px;
            margin-bottom: 48px;    
        }

        @media (max-width: 450px) {
            text-wrap: nowrap;
            font-size: .75em;  
        }
    }

    &__remove {
        position: absolute;
        top: 30px;
        right: 30px;

        path {
            transition: .4s ease-out;
        }

        &:hover {
            color: #6d6d6d;

            path {
                stroke: #e8e8e8;
            }
        }
    }

    &_cover {
        min-width: 160px;
        height: 100%;
        pointer-events: none;
        background-color: #1C1C1C;
        border-radius: 10px;
        background-size: cover;
        background-position: center;

        @media (max-width: 600px) {
            width: 100%;
            margin-top: 10px;
            min-height: 200px;
        }
    }
}