@mixin fontSize ($maxSize, $minSize) {
    $addSize: $maxSize - $minSize;
    $addMinSize: $addSize + $addSize * .7;
    @media (max-width: 767px) {
        font-size: calc(#{$minSize + px} + #{$addMinSize} * ((100vw - 320px) / 1920));
    }
    @media (min-width: 767px) {
        font-size: calc(#{$minSize + px} + #{$addSize} * ((100vw) / 1920));
    }
}

@keyframes fadeIn {
    from {
        transform: translateY(50px);
        opacity: 0;
        pointer-events: none;
    } to {
        pointer-events: all;
    }
}

* {
    user-select: none;
}

.cart {
    width: 81.7%;
    display: flex;
    flex-direction: column;
    row-gap: 58px;
    height: calc(100vh - 256px);

    @media (max-width: 1024px) {
        height: calc(100vh - 140px);
    }

    &_empty {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: 30px;
        max-height: 650px;
        height: 100%;

        @media (max-width: 1024px) {
            height: calc(100vh - 140px);
        }

        &_button {
            animation: fadeIn ease-out .9s;
            padding: 10px 40px;
            border: 2px solid #e8e8e8;
            border-radius: 15px;
            color: #e8e8e8;
            transition: .4s ease-out;

            &:hover {
                color: #1C1C1C;
                background-color: #e8e8e8;
            }
        }
    
        &_headline {
            animation: fadeIn ease-out 1.4s;
            @include fontSize(80, 40);
            color: #e8e8e8;
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
        }
    }

    &_content {
        display: flex;
        align-items: start;
        justify-content: space-between;
        column-gap: 3%;

        @media (max-width: 1024px) {
            flex-direction: column;
        }
    }

    &_items {
        animation: fadeIn 1s;
        width: 100%;
    }

    &_item {
        user-select: none;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        cursor: pointer;
        height: 250px;
        background-color: #1F1F1F;
        border-radius: 10px;
        margin-bottom: 41px;
        transition: .3s ease-out;

        &:hover {
            transform: translateY(-5px);
        }

        @media (max-width: 600px) {
            height: 500px;
        }
    }

    &_counter {
        display: flex;
        align-items: center;
        margin-top: 40px;
        overflow: hidden;
        position: absolute;
        bottom: 40px;

        &_minus, &_plus{
            transition: .2s ease-out;
            font-weight: 500;
            background-color: #181818;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            max-width: 10px;
            min-width: 10px;
            color: #e8e8e8;
        }

        &_value {
            text-align: center;
            max-width: 15px;
            min-width: 15px;
            font-weight: 400;
            background-color: #181818;
            padding: 10px 20px;
            min-height: 19px;
            color: #e8e8e8;
        }

        &_plus {
            border-radius: 0 15px 15px 0;

            &:hover {
                background-color: #292929;
            }
        }

        &_minus {
            border-radius: 15px 0 0 15px;

            &:hover {
                background-color: #292929;
            }
        }
    }

    &_text_holder {
        display: flex;
        flex-direction: column;
        align-items: start;
        row-gap: 20px;
        margin-right: 40px;
    }

    &_name {
        color: #a0a0a0;
        @include fontSize(30, 20);
        font-weight: 600;
        text-wrap: wrap;

        @media (max-width: 600px) {
            max-height: 28px;
            overflow-y: scroll;
        }
    }

    &_price {
        position: absolute;
        bottom: 120px;
        color: #494949;
        @include fontSize(20, 15);
        font-weight: 600;
        text-wrap: wrap;

        @media (max-width: 600px) {
            bottom: 100px;
        }
    }

    &_holder {
        column-gap: 50px;
        display: flex;
        align-items: start;
        justify-content: start;
        height: 80%;
        width: 95%;

        @media (max-width: 600px) {
            flex-direction: column;
            width: 85%;
            row-gap: 30px;
        }
    }

    &_right {
        animation: fadeIn 1.5s;
        position: sticky;
        top: 50px;
        width: 411px;
        height: 170px;
        background-color: #1F1F1F;
        border-radius: 10px;
        padding: 40px;
        display: flex;
        align-items: start;
        justify-content: space-between;
        flex-direction: column;
        transition: .4s ease-out;

        &:hover {
            transform: translateY(-5px);
        }

        &_headline {
            color: #e8e8e8;
            @include fontSize(20, 15);

            span {
                margin-top: 10px;
                color: #cfcfcf;
                font-weight: 500;
            }
        }

        &_button {
            color: #e8e8e8;
            padding: 10px;
            display: flex;
            @include fontSize(15, 10);
            align-items: center;
            justify-content: center;
            width: 100%;
            box-sizing: border-box;
            border-radius: 15px;
            border: 2px solid #e8e8e8;
            transition: .3s ease-out;

            &:hover {
                cursor: pointer;
                color: #1F1F1F;
                background-color: #e8e8e8;
                box-shadow: 0 0 30px #e8e8e870;
            }
        }

        @media (max-width: 1024px) {
            &_button {
                width: 65%;
            }

            box-sizing: border-box;
            justify-content: center;
            align-items: center;
            row-gap: 100px;
            width: 100%;
            height: 250px;
            margin-bottom: 48px;    
        }
    }

    &__remove {
        position: absolute;
        top: 30px;
        right: 30px;

        path {
            transition: .4s ease-out;
        }

        &:hover {
            color: #6d6d6d;

            path {
                stroke: #e8e8e8;
            }
        }
    }

    &_cover {
        min-width: 160px;
        height: 100%;
        pointer-events: none;
        background-color: #1C1C1C;
        border-radius: 10px;
        background-size: cover;
        background-position: center;

        @media (max-width: 600px) {
            width: 100%;
            margin-top: 10px;
            max-height: 250px;
        }
    }
}