.header {
    height: 256px;
    display: flex;
    align-items: center;
    justify-content: center;

    .menu {
        z-index: 9999;
    }

    @media (max-width: 1024px) {
        height: 100px;
        margin-bottom: 40px;

        .dropdown-icon {
            top: -65px !important;
        }
    }

    .search-holder {
            position: relative;
            width: 36%;
            transition: .4s ease-out;

            .nav_search {
                color: #4e4e4e;
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: 500;
                padding: 20px;
                user-select: none;
                width: 100%;
                height: 49px;
                background-color: #1F1F1F;
                border-radius: 20px;
                transition: .4s ease-out;

                &::placeholder {
                    color: #4e4e4e;
                }

                &:focus {
                    box-shadow: 0 0 15px rgba(232, 232, 232, .2), 0 0 30px rgba(232, 232, 232, .05);
                    background-color: #E8E8E8;
                    color: #1F1F1F;

                    &:hover {
                        box-shadow: 0 0 15px rgba(232, 232, 232, .2), 0 0 30px rgba(232, 232, 232, .05);
                        background-color: #E8E8E8;
                        color: #1F1F1F;
                    }
                }

                &:hover {
                    background-color: #2c2c2c;
                }
            }

            .search__icon_path {
                transition: .4s ease-out;
            }

            &:hover {
                .search__icon_path {
                    stroke: #7a7a7a
                }
            }

            .search__icon {
                pointer-events: none;
                position: absolute;
                right: 20px;
                top: 13px;
            }
        }

        .nav__btn_holder {
            display: flex;
            justify-content: space-between;
            width: 277px;

            &_icons {
                width: 77px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .cart_icon_active {
                    path {
                        transition: .4s ease-out;
                        fill: #E8E8E8;
                    }
                }
            }

            .nav__sign-in {
                transition: .4s ease-out;
                font-size: 18px;
                background-color: transparent;
                color: #E8E8E8;
                width: 134px;
                height: 49px;
                border-radius: 20px;
                box-sizing: border-box;
                outline: 2px solid #E8E8E8;
                outline-offset: -2px;
                cursor: pointer;

                &:hover {
                    background-color: #E8E8E8;
                    color: #1F1F1F;
                }
            }

            svg {
                fill: transparent;
                transition: .4s ease-out;
                &:hover {
                    fill: #E8E8E8;
                }
            }
        }

    .dropdown {
        overflow: hidden;
        background-color: #1c1c1cec;
        transition: .2s ease-out;
        z-index: 999;
        gap: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        border-radius: 10px;
        right: 0;
        top: 200px;
        width: 200px;
        height: 300px;

        .nav__sign-in {
            align-items: center;
            justify-content: center;
        }

        .nav__btn_holder {
            width: 100%;
            display: flex !important;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 20px;
        }

        .search-holder {
            width: 75%;

            .nav_search {
                font-size: 10px;
            }

            svg {
                display: none;
            }
        }

        .search-holder, .nav__sign-in, .nav__btn_holder_icons a, .nav__btn_holder {
            display: flex;
        }
    }
    
    .dropdown_btn {
        position: absolute;
        right: calc(9.15%);
        top: 80px;
        transform: translate(-50%, -50%);
        cursor: pointer;
    }

    .dropdown-icon {
        cursor: pointer;
        display: none;
        transition: transform .4s ease-out, height .1s ease-in-out;
        width: 25px;
        height: 3px;
        background-color: #E8E8E8;

        &::before {
            content: '';
            transition: .4s ease-out;
            position: absolute;
            width: 25px;
            height: 3px;
            top: -7px;
            background-color: #E8E8E8;
        }

        &::after {
            content: '';
            transition: .4s ease-out;
            position: absolute;
            width: 25px;
            height: 3px;
            top: 7px;
            background-color: #E8E8E8;
        }

        &.active {
            height: 0;

            &::before {
                transform: translate(0, 7px) rotate(45deg);
            }

            &::after {
                transform: translate(0, -7px) rotate(-45deg);
            }
        }
    }

    @media (max-width:1024px) {
        .search-holder, .nav__sign-in, .nav__btn_holder_icons a, .nav__btn_holder {
            display: none;
        }

        .dropdown-icon, .dropdown_btn {
            display: flex;
        }
    }

    .navbar {
        margin-top: 54px;
        width: 81.7%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .nav__logo {
            font-size: 40px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #E8E8E8;
        }

        .logo-key {
            font-weight: 600;
        }
    }
}