* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

::selection {
    background-color: #4e4e4e18;
}

::-webkit-scrollbar {
    background-color: #1E1E1E;
}

body {
    background-color: #1C1C1C;
}

input, button {
    user-select: none;
    border: unset;
    outline: unset;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

a {
    user-select: none;
    text-decoration: none;
    color: unset;
}

.header {

    .dropdown-icon {
        font-size: 20px;
        font-weight: bold;
        display: none;
        color: #E8E8E8;
    }

    @media (max-width:1024px) {
        .search-holder, .nav__sign-in, .nav__btn_holder_icons a, .nav__btn_holder {
            display: none;
        }

        .dropdown-icon {
            display: block;
        }
    }
    height: 256px;
    display: flex;
    align-items: center;
    justify-content: center;

    .navbar {

        .hide {
            width: 0;
        }

        &__dropdown {
            overflow: hidden;
            background-color: #1c1c1cec;
            transition: .2s ease-out;
            z-index: 999;
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            border-radius: 10px;
            right: 0;
            top: 200px;
            width: 200px;
            height: 300px;

            .search-holder {
                width: 75% !important;
                position: absolute;
                top: 30px;

                .nav_search {
                    font-size: 10px;
                }

                svg {
                    display: none;
                }
            }

            .nav__btn_holder {
                margin-bottom: 50px;
                display: flex;
                gap: 20px;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }

            .search-holder, .nav__sign-in, .nav__btn_holder_icons a, .nav__btn_holder {
                display: block;
            }
        }

        margin-top: 54px;
        width: 81%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .nav__logo {
            font-size: 40px;
            color: #E8E8E8;
        }

        .logo-key {
            font-weight: 600;
        }

        .search-holder {
            position: relative;
            width: 36%;
            transition: .4s ease-out;

            .nav_search {
                color: #E8E8E8;
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: 500;
                padding: 20px;
                user-select: none;
                width: 100%;
                height: 49px;
                background-color: #1F1F1F;
                border-radius: 20px;
                transition: .4s ease-out;

                &:focus {
                    box-shadow: 0 0 15px rgba(232, 232, 232, .2), 0 0 30px rgba(232, 232, 232, .05);
                    background-color: #E8E8E8;
                    color: #1F1F1F;

                    &:hover {
                        box-shadow: 0 0 15px rgba(232, 232, 232, .2), 0 0 30px rgba(232, 232, 232, .05);
                        background-color: #E8E8E8;
                        color: #1F1F1F;
                    }
                }

                &:hover {
                    background-color: #2c2c2c;
                }

                
            }

            .search__icon_path {
                transition: .4s ease-out;
            }

            &:hover {
                .search__icon_path {
                    stroke: #272727
                }
            }
            
            .nav__search:focus {
                .search-icon_path {
                    stroke: red
                }
            }

            .search__icon {
                pointer-events: none;
                position: absolute;
                right: 20px;
                top: 10px;
            }
        }

        .nav__btn_holder {
            display: flex;
            justify-content: space-between;
            width: 277px;

            &_icons {
                width: 77px;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .nav__sign-in {
                transition: .4s ease-out;
                font-size: 18px;
                background-color: transparent;
                color: #E8E8E8;
                width: 134px;
                height: 49px;
                border-radius: 20px;
                box-sizing: border-box;
                outline: 2px solid #E8E8E8;
                outline-offset: -2px;
                cursor: pointer;

                &:hover {
                    background-color: #E8E8E8;
                    color: #1F1F1F;
                }
            }

            svg {
                fill: transparent;
                transition: .4s ease-out;
                &:hover {
                    fill: #E8E8E8;
                }
            }
        }
    }
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;

    .main-section {
        width: 81.7%;

        .genres__holder {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
            margin-bottom: 48px;
            transition: .4s ease-out;

            .genre-btn {
                transition: .4s ease-out;
                text-wrap: nowrap;
                font-size: 14px;
                font-weight: 500;
                height: 20px;
                padding: 15px 20px;
                transition: .4s ease-out;
                cursor: pointer;
                background-color: #1F1F1F;
                color: #E8E8E8;
                border-radius: 20px;
                
    
                &:hover {
                    color: #1F1F1F;
                    background-color: #E8E8E8;
                    box-shadow: 0 0 15px rgba(232, 232, 232, .2), 0 0 30px rgba(232, 232, 232, .05);
                }
    
                &.checked-genre {
                    box-shadow: 0 0 15px rgba(232, 232, 232, .2), 0 0 30px rgba(232, 232, 232, .05);
                    border-radius: 20px;
                    background-color: #E8E8E8;
                    color: #1F1F1F;
                }
     
                &:hover {
                    color: #1F1F1F;
                    background-color: #E8E8E8;
                }
            }
        }
        

        .card-holder {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            margin-bottom: 48px;
            row-gap: 38px;
            column-gap: 50px;

            @media (max-width: 1366px) {
                grid-template-columns: repeat(4, 1fr);
                column-gap: 30px;
            }

            @media (max-width: 1024px) {
                grid-template-columns: repeat(3, 1fr);
            }

            @media (max-width: 768px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media (max-width: 500px) {
                grid-template-columns: repeat(1, 1fr);
            }

            .card {
                overflow: hidden;
                color: #E8E8E8;
                position: relative;
                height: 400px;
                border-radius: 10px;

                &:hover {
                    cursor: pointer;
                }

                &:hover .card__text {
                    background-color: #242424;
                }

                &__img {
                    width: 100%;
                    height: 75%;
                    transform: scale(1.008);
                    border-radius: 10px 10px 0 0;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    pointer-events: none;
                }

                &__text {
                    position: absolute;
                    transition: .3s ease-out;
                    width: 100%;
                    align-items: start;
                    pointer-events: none;
                    bottom: 0;
                    height: 25%;
                    border-radius: 0 0 10px 10px;
                    background-color: #202020;
                }

                &__headline {
                    position: absolute;
                    top: 20px;
                    left: 20px;
                    font-weight: 600;
                    font-size: 100%;
                }

                &__price {
                    position: absolute;
                    bottom: 20px;
                    left: 20px;
                }
            }
        }
    }
}