@import '/src/style/style.scss';

@keyframes fadeIn {
    from {
        transform: translateY(40px);
        opacity: 0;
    }
}

.game {
    width: 81.7%;
    display: flex;
    gap: 55px;
    box-sizing: border-box;
    height: calc(100vh - 256px);

    &__skeleton {
        position: relative;
        display: flex;
    }

    @media (max-width: 1024px) {
        height: 50vh;
    }

    @media (max-width: 1024px) {
        flex-direction: column;
    }

    &__add_to_cart {
        color: #e8e8e8;
        margin-bottom: 40px;
        padding: 20px 10px;
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #e8e8e8;
        border-radius: 15px;
        transition: .4s ease-out;

        @media (max-width: 600px) {
            box-sizing: border-box;
            width: 100%;    
        }

        &_active {
            color: #1c1c1c;
            background-color: #e8e8e8;
            padding: 20px 10px;
            width: 200px;
            margin-bottom: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid #e8e8e8;
            border-radius: 15px;
            box-shadow: 0 0 10px #E8E8E880, 0 0 70px #E8E8E830, 0 0 100px #E8E8E820;
            transition: .4s ease-out;

            @media (max-width: 600px) {
                box-sizing: border-box;
                width: 100%;    
            }   
        }

        &:hover {
            color: #1c1c1c;
            box-shadow: 0 0 10px #E8E8E880, 0 0 70px #E8E8E830, 0 0 100px #E8E8E820;
            background-color: #e8e8e8;
        }
    }

    &__add_to_favourite {
        cursor: pointer;
        transition: .2s ease-out;
        &:hover {
            fill: #e8e8e8;
        }

        &_active {
            cursor: pointer;
            transition: .2s ease-out;
            fill: #e8e8e8;
        }
    }

    &__headlineBlock {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    &__headline {
        color: #e8e8e8;
        @include fontSize(45, 20);
    }

    &__cover {
        animation: fadeIn .8s;
        width: calc(100px + 300 * (100vw / 1920));
        height: calc(45px + 500 * (100vw / 1920));
        border-radius: 15px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        pointer-events: none;

        @media (max-width: 1024px) {
            min-width: 200px;
            min-height: 500px;
            max-width: unset;
            width: 100%;
        }
    }

    &__info {
        display: flex;
        margin-bottom: 40px;
        max-width: 70%;
        gap: 20px;
        flex-direction: column;

        @media (max-width: 1024px) {
            max-width: unset;
        }
    }

    &__price {
        animation: fadeIn 1.8s;
        color: #bdbdbd;
        @include fontSize(20, 15);
        margin-bottom: 50px;

        @media (max-width: 1024px) {
            margin: 0;
        }
    }

    &__description {
        animation: fadeIn 2.8s;
        position: relative;
        @include fontSize(14, 12);
        margin-bottom: 40px;
        padding-right: 15px;
        max-height: 250px;
        overflow-y: scroll;
        min-height: 100px;
        line-height: 25px;
        width: 100%;
        color: #E8E8E870;

        p {
            user-select: text;
            margin-bottom: 10px;
            text-align: justify;

            &::selection {
                background-color: #3b3b3b;
            }
        }

        &::-webkit-scrollbar {
            width: 3px;
            background-color: #1c1c1c;
            height: 50px;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 50%;
            background-color: #363636;
        }

    }
}