@mixin fontSize ($maxSize, $minSize) {
    $addSize: $maxSize - $minSize;
    $addMinSize: $addSize + $addSize * .7;
    @media (max-width: 767px) {
        font-size: calc(#{$minSize + px} + #{$addMinSize} * ((100vw - 320px) / 1920));
    }
    @media (min-width: 767px) {
        font-size: calc(#{$minSize + px} + #{$addSize} * ((100vw) / 1920));
    }
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: calc(100vh - 400px);
    color: #e8e8e8;
    @include fontSize(40, 20)
}